<ul class="list-group-item" style="list-style-type:none; border:unset;  padding-top:0px;padding-left:6px;">

    <li><img src={{vedioItem.snippet.thumbnails.high.url}} width="125px" height="auto">
        <span class="overflow-ellipsis" style="width:47%;display:inline-block;vertical-align:top; padding-left: 10px;">{{vedioItem.snippet.title}}
        </span>
        <!-- <p  style="float:left; margin-top: 10px"><i class='far fa-check-circle' style='font-size:15px'>{{receivValue.snippet.channelTitle}}</i></p></li>   -->
</ul>

<!-- <img src={{obj.snippet.thumbnails.high.url}} width="125px" height="auto" style="padding-top:6px">
        <span class="p1" style="width:57%;display:inline-block;vertical-align:top; padding-left: 10px;">
            {{obj.snippet.title}}</span><hr></li> -->