.vedioList{
    float: right;
    width: 35%;
    margin-right: 18px;
}

// .list-group-item{
//     width: 70%;
//     list-style-type: none;


// }
li { 
    cursor: pointer; 

}
ul{
    border:none;
}
img{
    vertical-align:unset ;

}