<div style="margin-right:26%;" *ngFor="let obj of vedioList.items" (click)="datToDetailComponent(obj)" style="list-style-type:none;">
    <app-video-item [vedioItem]="obj"></app-video-item>
</div>




<!-- <ul class="list-group-item" style="list-style-type:none; padding-top:0px;padding-left:6px;"> -->
<!-- <li>  -->
<!-- <img src={{obj.snippet.thumbnails.high.url}} width="125px" height="auto" style="padding-top:6px">
        <span class="p1" style="width:57%;display:inline-block;vertical-align:top; padding-left: 10px;">
            {{obj.snippet.title}}</span><hr></li> -->

<!-- </ul> -->