
// .list-group{
// width: 50%;
//     margin: auto;
// }



.list-group-item{

width: 71%;
margin-left: 18%;
padding: 16px;
}
.title{
  margin-left: 22px;
  display: inline;
}
li:hover { 
  cursor: pointer; 
  background-color: grey
}
// .vediolisTDiv{
//   float: right;
//   margin-left: 24%;
//   width:50%; 
//   margin-top:30px
// }
